* {
    box-sizing: border-box;
}


/*Navigation Bar*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: white;
}

.active {
    background-color: grey;
}

/* Add a gray background color with some padding */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 20px;
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}

.backgroundimg {
    background-image: url("greenback.png");
    background-size: auto;
    background-repeat: no-repeat;
    
}

#page-container {
    position:relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}
/* Header/Blog Title */

.index-header {
    padding: 30px;
    text-align: center;
    background: white;
}

.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }


/*Style for privacy policy*/

#ppheader {
    width: 60%;
    margin: 0 auto;
}

#ppheader a, #ppheader p {
    font-size: 18px;
}

#ppheader h1 {
    font-size: 24px;
}

#ppheader h2 {
    font-size: 22px;
}

#ppheader h3 {
    font-size: 20px;
}
/* Spacer to fill empty space */

.spacer {
    flex: 1;
}


/* Left column */

.leftcolumn {
    float: none;
    width: 100%;
    height: 100%;
}

.fleft {
    width: 100%;
    float: left;
}

/*Event page flex layout*/

.flexrow {
    display: flex;
}

.flexcolumn {
    flex: 50%;
}


/* Styling an image*/

.images {
    background-color: white;
    width: 100%;
    float: left;
    padding: 5px;
}

.respImg {
    width: 100%;
    height: auto;
}

.respImgH {
    height: 100%;
    width: auto;
}


/* Add a card effect for articles */

.card {
    background-color: white;
    width: 100%;
    padding: 30px;
    margin-top: 20px;
    overflow: hidden;
    cursor: pointer;
}

.leftcolumn .card p {
    text-align: justify;
}

.leftcolumn iframe {
    position: relative;
    padding: 20px;
    width: 100%;
}

/*Comment cards*/
#commentcard {
    background-color: lightgrey;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Footer */

footer {
    position: absolute;
    bottom: 0;
    height: fit-content;
    width: 100%;
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.footer {
    padding: 20px;
    padding-top: 20px;
    text-align: center;
    background: #ddd;
    margin: 20px;
    overflow: hidden; 
  }

/*adds a black background-colour to the nav bar*/

.menu {
    overflow: hidden;
}

.menu a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav {
    overflow: hidden;
}


/*style the links inside the nav bar*/

nav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/*Chnage the color of links on hover */

.menu a:hover {
    background-color: #ddd;
    color: black;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

table,
tr,
th {
    border: solid 1px black;
}

.secondT {
    position: relative;
    text-align: center;
}


/*Forms*/

input[type="text"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

form {
    display: inline-block;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
}

#sign, #log {
    display: none;  /* Hide this by default*/
    position: fixed;
    z-index: 1; /*Stays on top*/
    max-width: 100%;
    max-height: 100%;
    height: 700px;
    width: 650px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
    border:0;
    box-shadow:0 0 60px 5px rgba(0,0,0,0.06);
    border-radius:10px;
}

#sign h1, #log h1 {
    text-align: center;
}

#sign p, #log p {
    padding-top: 20px;
}

.fields {
    overflow: auto; /*Allows scrolling*/
    padding: 20px 50px 20px 20px;
    position: absolute;
    width: 80%;
    height: 90%;
}

.close-button {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 15px;
    background: #ccc;
    color: #000000;
    padding: 3px 8px;
    font-size: 0.9rem;
    cursor: pointer;
}

.buttons {
    padding-top: 35px;
    width: 100%;
    cursor: pointer;
}

.commentsub {
    float: right;
}

/* Form close button */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }

  /* Clear everything on form exit*/
  .buttons::after {
      content:"";
      clear: both;
      display: table;
  }
/* Responsive layout - when the screen is less than 800px 
wide, make the two columns stack on top of each other 
instead of next to each other */

@media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0 10px;
    }
}

@media screen and (min-width: 970px) {
    .images,
    .fleft {
        width: 48% !important;
        padding: 0 10px;
    }
}

@media screen and (max-width: 701px) {
    .firstT {
        display: none;
    }
}

@media screen and (min-width: 701px) {
    .secondT {
        display: none;
    }
}